@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');
*{
	margin:0;
	padding:0;
	scrollbar-width: none;
}

html,body{
	font-family: "Parkinsans", serif;
	font-optical-sizing: auto;
	overflow-x: hidden;
	width:100%;
}

/* header */
header{
	padding: .7rem 0;
}

.nav-icon{
	outline: none;
}

.nav-icon img{
	width:150px;
	padding-left: 3rem;
}

.navbar-toggler:focus {
	box-shadow: none;
}

.navbar-nav{
	padding-left: 20px;
}

#navData{
	justify-content:flex-end;	
	padding-right: 3rem;
}

#navData a{
	width: max-content;	
}

.navbar-nav{
	--bs-nav-link-hover-color:#198754;
	cursor:pointer;
}

.drop-list-1{
	top:-100px;
	right:10%;
	opacity:0;
	box-shadow: inset 1px 1px 10px black;
	transition:top .5s ease-out;
}

.visual-1{
	top:52px;
	opacity: 1;
	z-index: 5 !important;
}

.navbar-nav li{
	width:max-content;
}

/* main */
.carousel-item img{
	filter:brightness(50%);
}

.carousel-caption{
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: max-content;
}

.animate__animated.animate__slideInDown,
.animate__animated.animate__flipeInY,
.animate__animated.animate__zoomIn,
.animate__animated.animate__zoomInUp,
.animate__animated.animate__jackInTheBox{
	--animate-duration: 1.5s;
}

/* field work */
.field{
    margin: 0 12%;
}

.field .card{
    border-radius: 0;
    padding: 20px 25px;
}

.field .card img{
    height: 55%;
    width: 55%;
    margin: 0 auto;
}
/* comon */
.comon{
	height: max-content;
}
.comon img{
	height: 550px !important;
	width: 75%;
}
/* comon-2 */
.comon-2 .main-head.animate__animated.animate__slideInLeft{
	--animate-duration: 1.1s;
}

.comon-2 .main.animate__animated.animate__slideInLeft{
	--animate-duration: 1.3s;
}

.comon-2 .sub-1.animate__animated.animate__slideInLeft{
	--animate-duration: 1.5s;
}

.comon-2 .sub-2.animate__animated.animate__slideInLeft{
	--animate-duration: 1.6s;
}

.comon-2 .sub-3.animate__animated.animate__slideInLeft{
	--animate-duration: 1.7s;
}

/* tech */
.tech .techCard-1.animate__animated.animate__slideInUp{
	--animate-duration: 1.3s;
}

.tech .techCard-2.animate__animated.animate__slideInUp{
	--animate-duration: 1.5s;
}

.tech .techCard-3.animate__animated.animate__slideInUp{
	--animate-duration: 1.7s;
}

.animate__animated.animate__slideInDown,
.animate__animated.animate__slideInLeft,
.animate__animated.animate__fadeInDown,
.animate__animated.animate__fadeInLeft,
.animate__animated.animate__zoomIn,
.animate__animated.animate__fadeInUp,
.animate__animated.animate__jackInTheBox{
	opacity: 1;
}

/* service */
 .serviceContent-1,.serviceContent-2,.serviceContent-3,
 .serviceContent-4,.serviceContent-5,.serviceContent-6,
 .serviceContent-7,.serviceContent-8,.serviceContent-9{
	 position: absolute;
	 left: -3rem;
	 bottom: -3rem;
	 border-radius: 5px;
	 transition: all .4s ease-out;
	 opacity: 0;
 }

 .contentActive{
	 bottom: 2.5rem;
	 left: 3.3rem;
	 opacity: 1;
	 background-color: #198754;
 }

 .service img{
	transition: all .5s ease;
 }

 .service img:hover{
	transform: scale(.9);
	filter: brightness(60%);
	cursor: pointer;
 }
 
 .service .carousel-control-next, .carousel-control-prev {
	width: 10%;
 }

 /* testimonial */
 .testimonials aside:hover{
	background-color: grey;
	color: whitesmoke;
	border-radius: 5px;
	cursor: pointer;
	transition: all .6s ease-out;
}

/* footer */
.footer-item{
	padding-left: 3rem;
}

 footer li{
	 list-style:none;
	 padding-bottom: 5px;
 }
 
 footer a{
	 text-decoration:none;
	 color:darkgray;
 }
 
 footer a:hover{
	 color:#199950;
 }
 
 footer i{
	color: #198754;
	background-color: rgb(15, 15, 15);
	border-radius: 3px;
	margin: 0 .5rem;
 }

 footer i:hover{
	transform: scale(1.12);
	background-color: rgb(22, 22, 22);
 }

 .copyright p{
	font-size: small;
	margin-bottom: 0;
 }

 .copyright b{
	color: #198754;
 }

/* about */
.banner{
	height: 250px;
	position: relative;
}
.banner-img{
    filter: brightness(50%);
    height: 100%;
	width: 100%;
}

.banner-caption{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.banner-caption h1{
    font-weight: 700;
    font-size: 3rem;
    color: white;
}

.home:hover {
    cursor: pointer;
}

 /* contact */
.login{
	border-radius: 5px;
}

.login .form{
	border: .1px solid #bbbbbb;
	border-radius: 5px;
	width: 50%;
	background-color: #e1fdc0;
}

.login .form .input-field{
	outline: none;
	border: none;
	border-bottom: .1px solid #bbbbbb; 
	width: 75%;
	height: 2.5rem;
	background-color: transparent;
}

.login .form button{
	width: max-content;
	transition: all .5s ease-in-out;
}

.login .form button:hover{
	transform: scale(1.1)!important;
}

 #navigator{
	position: fixed !important;
	bottom:15px;
	right: 15px;
	z-index: 1;
	width:40px;
	height: 38px;
	border-radius: 3px;
}

/* media query */
@media screen and (width <= 992px){
	.nav-icon img{
		padding-left:1rem;
		width: 100px;
	}
	.nav-link{
		font-size: .7rem;
	}
	.drop-list-1{
		right: 12% !important;
		width: 102px;
		font-size: .7rem;
	}
	.visual-1{
		top: 50px;
		z-index: 5 !important;
	}
	.carousel-caption h1{
		font-size: 2rem;
	}
	.carousel-caption p{
		font-size: .9rem;
	}
	.comon img{
		height: 500px !important;
		width: 80% !important;
	}
	.hide-2{
		display:none;
	}
	.footer-item{
		padding-left: 20px;
	}
	.field{
		margin: 0 5% !important;
	}
	.login .form{
		width: 65%;
	}
	#quries .form{
		width: 50% !important;
	}
	#quries .address{
		padding-right: 20px !important;
	}
}

@media screen and (width < 768px){
	.nav-icon img{
		width: 80px;
	}
	.drop-list-1{
		right: 12% !important;
		width: 100px;
		font-size: .6rem;
	}
	.visual-1{
		top: 115px;
	}
	.carousel-caption h1{
		font-size: 1.5rem;
	}
	.carousel-caption p{
		font-size: .7rem;
	}
	.comon img{
		height: 550px !important;
		width: 70% !important;
	}
	.comon-content{
		padding-right: 4rem !important;
		padding-left: 4rem !important;
	}
	.hide-1{
		display:none;
	}
	.field{
		margin: 0 20% !important;
	}
	.login .form{
		width: 80%;
	}
	#quries .form{
		width: 65% !important;
	}
}

@media screen and (width <= 576px){
	.nav-icon img{
		width: 60px;
	}
	.drop-list-1{
		left: 24% !important;
		width: 100px;
		font-size: .6rem;
	}
	.visual-1{
		top: 117px;
	}
	.carousel-caption h1{
		font-size: 1rem;
	}
	.carousel-caption p{
		font-size: .5rem;
	}
	.comon img{
		height: 400px !important;
		width: 80% !important;
	}
	.comon-content{
		padding-right: 3rem !important;
		padding-left: 3rem !important;
	}
	.footer-item{
		padding-left: 30px;
		padding-right: 0;
	}
	.field{
		margin: 0 23% !important;
	}
	.field h5{
		padding-bottom: 5px;
	}
	.field p{
		padding-top: 8px;
	}
	.field .card{
		padding-left: 10px;
		padding-right: 10px;
	}
	.login .form{
		width: 90%;
	}
	.copyright .icon{
		padding-top: 20px;
	}
}